.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.burgerMenu {
  width: 43px;
  height: 38px;
  background: #7CDCF4;
  border-radius: 1000px;
  border: none;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/***
Search
***/

.Search {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  
}

.result-txt {
  align-self: start;
  margin-left: 1rem;
}

.SearchBottom {
  height: 3em;
}

.form-search {
  width: 100%;
  background: #FFFFFF !important;
  border: 2px solid #0E0E2C !important;
}

.form-search::placeholder {
  font-family: 'Omnes';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #0E0E2C;
}

table{
  border-collapse: collapse;

}
.ItemList {
  overflow: scroll;
  top: 140px;
  
}

.item-row{
  border-bottom: 2px solid #C9D8A5;
  box-shadow: 0.25em 0.25em  0.25em  rgba( 0, 0, 0, 0.1 );
}

table {
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  width: 45%;
  overflow: hidden;
}

/* Design library component classes */

a {
  text-decoration: none;
  border-bottom: none;
}

.cerulean {
  color: #04A7E3;
}

.malibu { 
  color: #7CDCF4;
}

.walt-blue {
  color: #009DE0;
}

.tropical-blue {
  color: #CCEDF9;
}

.sprout {
  color: #C9D8A5;
}

.cream {
  color: #FFFDD0;
}

.primary-text-color {
  color: #0E0E2C;
}

.secondary-text-color {
  color: #50555C;

}

input {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 1rem;
    -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.form input[type="password"], .form input[type="text"], .form input[type="submit"] {
  width: 100%;
  background-color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #009DE0;
  border-radius: 0.25rem;
  padding: 1rem;
  opacity: 1; /* Firefox */
  font-family: 'Omnes';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.button-xxl {
  width: 170px;
  height: 67px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #009DE0;
  border-radius: 1000px;

  /* Extra Bold */

    font-family: 'Omnes';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 16px;
    /* or 67% */

    color: #FFFFFF;
    border-color: transparent;
}

.button-xxl-inverted {
  width: 170px;
  height: 67px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #FFFFFF;
  color: #18A0FB;
  border: 1px solid #18A0FB;
  border-radius: 1000px;
  /* Extra Bold */

  font-family: 'Omnes';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 16px;
  /* identical to box height, or 67% */
  text-align: center;

  color: #18A0FB;
  border-color: transparent;
  
}

.button-xl {
  width: 163px;
  height: 44px;
  background: #18A0FB;
  border-radius: 1000px;
  color: #FFFFFF;
    /* Button Large */

  font-family: 'Omnes';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  /* identical to box height, or 80% */
  border-color: transparent;
}

.button-xl-inverted {
  width: 685px;
  height: 492px;
  background: #FFFFFF;
  border: 1px solid #18A0FB;
  border-radius: 1000px;
  /* Button Large */

  font-family: 'Omnes';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  /* identical to box height, or 80% */

  /* Malibu */
  color: #7CDCF4;
  border-color: transparent;
}

.action-btn {
  margin-top: 50px;
  align-self: flex-end;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.radio-btn {
  font-family: 'Omnes';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 16px;
  /* identical to box height, or 80% */
  letter-spacing: 0.05em;
  color: #0E0E2C;
  
}

.radio-btn :after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.page-header{
 align-self: flex-start;
 margin-left: 1.5rem;
 filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header1 {
  font-family: 'Omnes';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 37px;
  letter-spacing: -0.02em;
  
  color: #0E0E2C;
}

.header2 {
  font-family: 'Omnes';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.02em;
  
  color: #0E0E2C;
}

.header3 {
  font-family: 'Omnes';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: -0.02em;
  
  color: #0E0E2C;
}

.body-txt {
  font-family: 'Omnes';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  /* identical to box height */
  
  letter-spacing: -0.02em;
  
  color: #0E0E2C;
}

.body-small-txt {
  font-family: 'Omnes';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */
  color: #000000;
}

.btn-txt {
  font-family: 'Omnes';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  color: #000000;
  
}

.link-txt {
  font-family: 'Omnes';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  color: #000000;
}

/*
 Main page
*/

.main-page-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.slogan {
  margin-left: auto;
  margin-top: 0px;
  padding-bottom: 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-wrapper {
  padding: 15px;
}


/* 
Log In
*/
.form-box {
  box-sizing: border-box;
  /* Pure White */
  background: #FFFFFF;
  /* Wolt blue */
  border: 2px solid #7CDCF4;
	margin: 20px 20px 0;	
	border-radius: 3px;
}

.form-box:focus {
  outline: none !important;
  border:1px solid #009DE0;
  box-shadow: 0 0 10px #719ECE;
}

.page-wrapper {
  border-radius: 5px;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
  width:450px;
  display: flex;  
  flex-direction: column;
  box-shadow: none;
}

/* 
Single Item
*/
.description {
  color: #04A7E3;
  margin-bottom: 5px;
  margin-left: -25px;
  align-self: flex-start;
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.item-card > img {
  width: 177px;
  height: 177px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  margin-bottom: 20px;
}

.description-block{
  border-bottom: 2px solid #CCEDF9;
  display: flex;
  flex-direction: column;
  
}

.description-block-row {
  border-bottom: 2px solid #CCEDF9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
}

.item-info-block {
  max-width: 35vw;;
}

.item-description {
 margin-left: 15px;
 align-self: flex-start;
 text-align: left;
}

.item-price {
  align-self: flex-end;
  text-align: right;
  max-width: 35%;
}

.item-lender-info {
  align-self: flex-end;
  text-align: right;
  max-width: 35%;
}

.raiting {
  margin: 0px;
  padding-top: -5px;
}

.raiting > .fa-star {
  color: #FFEB00;
}

.ItemListItem {
  display: flex;
  overflow-y: hidden;
  border-bottom: 1px solid lightgrey;
}

.ItemListItemPart {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.menuButtonDivs {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

.line {
  height: 1px;
  background: #CCEDF9;
  margin: 10px;
  width: 90%;
}

.role-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 0px 10px 0px;
}