.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Nav {
  left: 0;
  top: 0;
  width: 100%;
  background-color: cyan;
  color: black;
  position: absolute;
}

.SideNav {
  right: 0;
  height: 100%;
  width: 100px;
  background-color: cyan;
  color: black;
  position: absolute;
}

.NavItem {
  position: relative;
  display: inline;
}

button, input[type=submit] {
  width: 65px;
  height: 38px;
  background: #7CDCF4;
  border-radius: 1000px;
  border: none;
}

.Search {
  top: 38px;
  width: 100%;
  position: absolute;
  border-bottom: 1px solid lightgrey;
}

.SearchBottom {
  height: 1em;
}

.ItemList {
  overflow: scroll;
  top: 140px;
  position: absolute;
}

.ItemListItem {
  display: flex;
  overflow-y: hidden;
  border-bottom: 1px solid lightgrey;
}

.ItemListItemPart {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}